In [1]:
l = [4,5,6,7,8,3,3,4,5]

In [2]:
for i in l :
    print(i)

4
5
6
7
8
3
3
4
5

In [3]:
l

[4, 5, 6, 7, 8, 3, 3, 4, 5]

In [4]:
for i in l :
    print(i + 1)

5
6
7
8
9
4
4
5
6

In [5]:
for i in l :
    print(i**2)

16
25
36
49
64
9
9
16
25

In [6]:
l

[4, 5, 6, 7, 8, 3, 3, 4, 5]

In [7]:
s = "euron"
for i in s :
    print(i)

e
u
r
o
n

In [8]:
s = "euron"
for sudh in s :
    print(sudh)

e
u
r
o
n

In [9]:
t = (4,5,6,7,8,8,8)
for i in t :
    print(i)

4
5
6
7
8
8
8

In [10]:
s = {4,5,6,7,8,8,3,4,5,6,6,7,7}
for i in s :
    print(i)

3
4
5
6
7
8

In [11]:
d = {"name" :"euron" ,"class":"python eng" , "mentor" :"sudhanshu kumar"}

In [15]:
for i in d.keys():
    print(i)

name
class
mentor

In [14]:
for i in d.values():
    print(i)

euron
python eng
sudhanshu kumar

In [17]:
for i,j in d.items():
    print(i,j)

name euron
class python eng
mentor sudhanshu kumar

In [18]:
l = ["euron" ,4,5,6,7,8,34,56.45,True , "sudh",False, 5+7j]

In [23]:
l_str = []
l_int = []
l_float = []
l_bool= []
l_extra = []
for i in l :
    if type(i) == str :
        l_str.append(i)
    elif type(i) == int :
        l_int.append(i)
    elif type(i) == float :
        l_float.append(i)
    elif type(i) == bool:
        l_bool.append(i)
    else :
        l_extra.append(i)

In [27]:
l_str

['euron', 'sudh']

In [28]:
s = "sudh"
for i in s :
    print(i)

s
u
d
h

In [29]:
import string

In [31]:
for i in string.ascii_letters:
    print(i)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z
A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [32]:
range(5)

range(0, 5)

In [33]:
list(range(5))

[0, 1, 2, 3, 4]

In [34]:
list(range(1 , 5))

[1, 2, 3, 4]

In [35]:
list(range(1 , 10,2))

[1, 3, 5, 7, 9]

In [36]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [37]:
a = 0
b = 1 
limit  = 10 

for i in range(10):
    print(a)
    a,b = b ,a+b

0
1
1
2
3
5
8
13
21
34

In [38]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [39]:
i = 0 

while i <= 10 :
    print(i)
    i  = i+ 1

0
1
2
3
4
5
6
7
8
9
10

In [46]:
row = 20
for i in range(1,row+1):
    print("sudh  "*i)

sudh
sudh  sudh
sudh  sudh  sudh
sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh
sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh  sudh

In [42]:
"sudh" * 30

'sudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudhsudh'

In [51]:
row  = 5
for i in range(1,row+1):
    print("  "*( row - i) + "* " *(2*i -1))

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [52]:
row  = 5
for i in range(1,row+1):
    print("  "*( row - i) + "* " *(2*i -1))

for i in range(row-1 , 0,-1):
    print("  "*( row - i) + "* " *(2*i -1))

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [53]:
list(range(row-1 , 0,-1))

[4, 3, 2, 1]

In [ ]:
While Loop Assignments

Write a program to find the sum of digits of a given number using a while loop.
Create a program that uses a while loop to reverse a number.
Write a while loop program to find the largest digit in a number.
Use a while loop to print all even numbers from 1 to n.
Write a program using a while loop to repeatedly prompt a user to guess a randomly generated number until they guess correctly.
Write a program using a while loop to calculate the sum of the first n natural numbers.
Create a while loop to continuously prompt the user for input until they type "exit".
Write a program using a while loop to check if a number is an Armstrong number.
Create a countdown timer using a while loop, starting from a given number and ending at zero.
Write a program using a while loop to find the LCM (Least Common Multiple) of two numbers.


For Loop Assignments

Write a program using a for loop to print the multiplication table of a given number.
Create a program using a for loop to print all numbers divisible by 3 and 5 between 1 and n.
Write a for loop to calculate the sum of squares of the first n natural numbers.
Create a program using a for loop to find all prime numbers between 1 and n.
Use a for loop to iterate through a list of strings and print their lengths.
Write a program to find the second largest number in a list using a for loop.
Create a program using nested for loops to print a right-angled triangle pattern of stars.
Write a program to count how many numbers in a list are greater than a given threshold using a for loop.
Create a program using a for loop to print the reverse of a list.
Write a program using a for loop to find the sum of all odd numbers in a list.
    
sudhanshu@euron.one