In [1]:
print("this is my name")

this is my name

In [ ]:
type()
len()

In [6]:
def test():
    pass

In [7]:
def test1():
    print("this is my first function")

In [8]:
test1()

this is my first function

In [9]:
test1()

this is my first function

In [10]:
def test2(a,b):
    print(a,b)

In [13]:
test2([4,5,6,] , "sudh")

[4, 5, 6] sudh

In [17]:
def test3(a,b,c,d,e):
    print(a,b,c,d,e)

In [18]:
test3(5,6,7,5,4)

5 6 7 5 4

In [19]:
def test4(a):
    print(a)

In [24]:
type(test4(5))

5

NoneType

In [21]:
test4(5) + 5

5

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [23]:
type(print("sudhanshu"))

sudhanshu

NoneType

In [26]:
def test4(a,b):
    return a+b

In [28]:
type(test4(4,5))

int

In [29]:
type(test4("sudhanshu" , " kumar"))

str

In [ ]:
def test5(*args):
    return args

In [31]:
test5(4)

(4,)

In [32]:
test5(5,6,7,4,5,6,7,7,7)

(5, 6, 7, 4, 5, 6, 7, 7, 7)

In [36]:
def test6(*sudh):
    return sum(sudh)

In [37]:
test6(4,5,6,7,78)

100

In [38]:
def test7(**kwargs):
    return kwargs

In [39]:
test7(name = "sudhanshu" ,company = "euron")

{'name': 'sudhanshu', 'company': 'euron'}

In [40]:
def test8():
    return "sudh" , [4,5,6,7,8] , (4,5,6,7,7)

In [41]:
test8()

('sudh', [4, 5, 6, 7, 8], (4, 5, 6, 7, 7))

In [42]:
a,b,c = test8()

In [43]:
a

'sudh'

In [44]:
b

[4, 5, 6, 7, 8]

In [45]:
c

(4, 5, 6, 7, 7)

In [46]:
def test9():
    """this is my tset9 fun created by sudhanshu kumar in python eng live class on 21st of dec this 
    
    is just a test funciont to teach my students about doc string """

    return 34534

In [ ]:
test9()

In [47]:
def test10(a,b):
    return a+b

In [49]:
a= lambda a,b :a+b

In [50]:
a(5,6)

11

In [51]:
l= [3,4,5,6,7]

In [52]:
l1 = []
for i in l :
    l1.append(i**2)

In [53]:
l1

[9, 16, 25, 36, 49]

In [55]:
list(map(lambda x :x**2 , l))

[9, 16, 25, 36, 49]

In [56]:
l

[3, 4, 5, 6, 7]

In [57]:
def sq(x):
    return x**2

In [58]:
list(map(sq , l))

[9, 16, 25, 36, 49]

In [59]:
l = [4,4,5,6,7,8,9,9,9,9]
l1_odd = []
for i in l :
    if i %2 != 0 :
        l1_odd.append(i)

In [60]:
l1_odd

[5, 7, 9, 9, 9, 9]

In [62]:
list(filter(lambda x :x %2 != 0 , l))

[5, 7, 9, 9, 9, 9]

In [63]:
def fil_odd(x):
    if x % 2!= 0 :
        return True

In [64]:
list(filter(fil_odd , l))

[5, 7, 9, 9, 9, 9]

In [65]:
from functools import reduce

In [66]:
l = [3,4,5,6,7,7]

In [67]:
sum(l)

32

In [68]:
reduce(lambda x,y :x+y ,l)

32

In [69]:
def fact(n):
    if n == 0 or n == 1 :
        return 1 
    return n*fact(n-1)

In [70]:
fact(5)

120

In [71]:
s= "sudhanshu"

In [72]:
s[::-1]

'uhsnahdus'

In [73]:
def string_rev(s):
    if len(s) == 0 :
        return ""
    return s[-1] +string_rev(s[:-1])

In [74]:
string_rev("euron")

'norue'

In [75]:
string_rev("")

''

In [76]:
s1 = "sudh"
s1[:-1]

'sud'