In [28]:
class euron:
    def __init__(self, name, course, mentor, price):
        self.name = name
        self.course = course
        self.mentor = mentor
        self.price = price
    def __str__(self):
        return f"my name is suadhanshu kumar"
    
    def __len__(self):
        return 53435552
    
    def __repr__(self):
        return f"Euron({self.name},{self.course},{self.mentor},{self.price})"

In [29]:
eu_obj1 = euron("sudhanshu","python english","sudhanshu",3543)

In [30]:
print(repr(eu_obj1))

Euron(sudhanshu,python english,sudhanshu,3543)

In [27]:
print(len(eu_obj1))

53435552

In [15]:
print(eu_obj1)

my name is suadhanshu kumar

In [6]:
print(eu_obj1)

<__main__.euron object at 0x00000189A76282B0>

In [5]:
eu_obj1.name

'sudhanshu'

In [43]:
class euron:
    def __init__(self, name, course, mentor, price):
        self._name = name
        self._course = course
        self._mentor = mentor
        self._price = price    
        
    @property
    def name(self):
        return self._name
    
    @name.setter
    def change_name(self, name):
        self._name = name
    
    @name.deleter
    def delete_name(self):
        del self._name

In [44]:
eu_ob2 = euron("sudhanshu" ,"python eng","sudhanshu kumar" ,354345)

In [45]:
eu_ob2.change_name = "fsdfsfasfasf"

In [46]:
del eu_ob2.delete_name

In [48]:
eu_ob2._name

AttributeError: 'euron' object has no attribute '_name'

In [34]:
eu_ob2._name = "amredra"

In [35]:
eu_ob2._name

'amredra'

In [49]:
len("sudhanshu")

9

In [50]:
from abc import ABC ,abstractmethod

class euron_live_class(ABC):
    @abstractmethod
    def live_streamining(self):
        pass
    @abstractmethod
    def live_chat(self):
        pass
    
    @abstractmethod
    def live_content_uplod(self):
        pass
    @abstractmethod
    def live_feedback(self):
        pass
    
    @abstractmethod
    def live_class_type(self):
        pass

In [ ]:
class euron_class1(euron_live_class):
    def live_streamining(self):
        print("live streaming")
        
        
class euron_class2(euron_live_class):
    def live_class_type(self):
        print("live class 2")

In [51]:
range(10)

range(0, 10)

In [52]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [55]:
r = range(10)
r1 = iter(r)

In [56]:
next(r1)

0

In [57]:
next(r1)

1

In [58]:
next(r1)

2

In [59]:
next(r1)

3

In [60]:
next(r1)

4

In [61]:
next(r1)

5

In [62]:
next(r1)

6

In [63]:
next(r1)

7

In [64]:
next(r1)

8

In [65]:
next(r1)

9

In [67]:
next(r1)

StopIteration:

In [70]:
s = "sudh"
s = iter(s)

In [71]:
next(s)

's'

In [72]:
next(s)

'u'

In [73]:
next(s)

'd'

In [74]:
next(s)

'h'

In [75]:
next(s)

StopIteration:

In [76]:
a = 6

In [77]:
next(a)

TypeError: 'int' object is not an iterator

In [78]:
a = iter(a)

TypeError: 'int' object is not iterable

In [79]:
range(5)

range(0, 5)

In [80]:
list(range(5))

[0, 1, 2, 3, 4]

In [81]:
for i in range(5):
    print(i)

0
1
2
3
4

In [88]:
def lazy_number_generation(n):
    for i in range(n):
        print(i)

In [89]:
lazy_number_generation(10)

0
1
2
3
4
5
6
7
8
9

In [94]:
def lazy_number_generation1(n):
    for i in range(n):
        yield i

In [95]:
for i in lazy_number_generation1(6) :
    print(i)

0
1
2
3
4
5

In [96]:
print(range(5))

range(0, 5)

In [97]:
v = lazy_number_generation1(6)

In [98]:
v  = iter(v)

In [99]:
next(v)

0

In [100]:
next(v)

1

In [101]:
next(v)

2

In [102]:
next(v)

3

In [103]:
next(v)

4

In [104]:
next(v)

5

In [105]:
next(v)

StopIteration:

In [ ]:
Assignment Questions for Euron on Object-Oriented Programming and Advanced Python Topics
Section 1: Class Basics
Defining Classes
Create a class called Course with attributes: course_id, course_name, and instructor_name. Add a method to display the course details.
Create another class called Student with attributes: student_id, name, and enrolled_courses (a list). Add a method to enroll a student in a course.
Section 2: Instance Variables and Methods
Working with Instance Variables
Define a class Subscription with instance variables user_name, subscription_type, and price. Write methods to:
Display the subscription details.
Upgrade the subscription type to a higher plan and update the price accordingly.
Section 3: Constructors and Destructors
Using __init__ and __del__
Implement a class DatabaseConnection to simulate connecting to a database. Use:
__init__ to initialize the connection and print "Connected to the database."
__del__ to print "Disconnected from the database."
Section 4: Inheritance and Polymorphism
Using Inheritance
Create a base class User with attributes user_id and name. Add a method show_user_details.
Derive two subclasses: Student and Teacher. Add specific attributes and override the show_user_details method for both.
Polymorphism
Write a function show_details(entity) that takes an instance of either Student or Teacher and calls the appropriate show_user_details method.
Section 5: Encapsulation and Abstraction
Encapsulation
Implement a class Payment with private attributes _card_number and _cvv. Add methods to:
Set and get card details securely.
Validate the CVV.
Abstraction
Define an abstract base class CourseContent with methods get_details() and get_duration(). Create two subclasses VideoCourse and Ebook to implement these methods.
Section 6: Advanced OOP Concepts
Magic Methods
Overloading Magic Methods
Create a class CartItem with attributes name, price, and quantity. Overload:
__str__ to return a string representation of the item.
__add__ to allow addition of two CartItem objects, combining their quantities.
Abstract Base Classes
Using Abstract Base Classes
Create an abstract base class SubscriptionPlan with methods get_price() and get_duration(). Implement two subclasses MonthlyPlan and YearlyPlan with appropriate logic.
Property Decorators
Using Property Decorators
Create a class Subscription with attributes _plan and _price. Use:
@property to access _plan and _price.
@setter to set _plan and update _price based on the plan.
Section 7: Iterators and Generators
Creating Iterators
Custom Iterators
Implement an iterator class CourseIterator that takes a list of courses and iterates over them one by one.
Generators and Using yield
Using Generators
Write a generator function fibonacci_sequence(n) to yield the Fibonacci sequence up to n terms. Test it using a loop.
Lazy Evaluation
Lazy Evaluation Example
Implement a generator function read_large_file(file_path) to read a large file lazily, one line at a time. Use this function to count the number of lines in the file.



sudhanshu@euron.one